/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Servo-Control-Manager.iml
/.idea/vcs.xml
*.pyc
/.idea/Adam-SDK.iml
